[Unit]
Description=Mount and Start Titan USB HDD
After=network.target lxc-net.service remote-fs.target
Wants=lxc.service

[Service]
Type=oneshot
ExecStart=/root/titan/start.sh

[Install]
WantedBy=multi-user.target

